/* Reset CSS */
* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body.dark-mode {
  background-color: #212529;
  color: #899095;
  height: 100vh;
}
:root {
  --body-bg: #fafafa;
  --body-color: #555;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

i{
  display: inline;
  justify-content: space-between;
}
.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
}
/* Estilos básicos para o corpo da página */
body {
  background-color: #eeeef7;
}

.dark {
  max-width: 1680px;
  width: 100%;
  height: 2px;
  background-color: 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 22rem;
}
body.dark {
  background: #292c35;
}
.button-dark{
  background-color: #080808;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .button-dark {
  background-color: #f1eded;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
.checkbox:checked + .label .button-dark {
  transform: translateX(24px);
}

#check:checked + .button-dark{
  background-color: #e0e0e0;
}

#check:checked + .label .button-dark::before{
  transform: translateX(24px);
}

#check{
  display:none;
}


/* Estilos básicos para o corpo da página */
body {
  background-color: #fff;
}

/* Estilo do título e header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9f504;
  padding: 25px;
}

.title{
  font-size: 38px;
  color: hsl(0, 0%, 0%);
}

/* Estilos para o quadro Kanban e suas colunas */
.kanban-board {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.column {
  padding: 10px;
  width: 30%;
  min-height: 300px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

/* Estilos para os títulos das colunas */
.column h2 {
  text-align: center;
}

.column #style-todo,
.column #style-doing,
.column #style-done {
  padding: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.column #style-todo {
  color: whitesmoke;
  background-color: #02bef7;
}

.column #style-doing {
  color: whitesmoke;
  background-color: #2e6fe7;
}

.column #style-done {
  color: whitesmoke;
  background-color: #043aec;
}

/* Estilos para as cartas no quadro */
.card {
  position:relative;
  max-width: 100%;
  cursor: move;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.date-time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  font-size: 12px;
  color: #666;
}

.inputNova {
  display: flex;
  align-items: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 2px;
  min-height: max-content;
  word-wrap: break-word;
}

#todo-input::placeholder {
  font-size: 16px;
}

#todo-input {
  width: 500px;
  margin-right: 10px;
  font-size: 16px;

}

.card-text {
  white-space: normal;
  word-break: break-word;
  width: 100%;
}

input {
  margin-top: 7px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

/* Botões */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img{
  width: 20px;
  position: relative;
  right: 2px;
  top: 7px;
}

.trash-can-icon{
  display: inline;
  width: 20px;
  position: relative;
}

.pen-icon{
  display: inline;
  width: 20px;
  position: relative;
  left: 3px;
}

/* Footer */

footer{
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

